<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 

	<configuration>
  	<typeAliases>
  		<typeAlias type="com.ssy.test.bankBook.BankBookDAO" alias="BankBookDAO"/>
  		<typeAlias type="com.ssy.test.bankBook.BankBookDTO" alias="BankBookDTO"/>
  		<typeAlias type="com.ssy.test.bankMembers.BankBookMember" alias="BankBookMember"/>
  		
  		<typeAlias type="java.lang.Long" alias="Long"/>
  	</typeAliases>
  
  </configuration>	  
