<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>=0.0=</title>
    <link rel="stylesheet" href="/resources/css/test.css">
</head>
<body>

    <!--id명은 중복 불가능-->
    <!--class명 중복 가능-->

    <h1>Text1</h1>
    <h1 id="t1">Text2</h1>
    <h1 class="c1">Text3</h1>
    
    <h3>contents1</h3>
    <h3 class="c1">contents2</h3>
    <h3>contents3</h3>
</body>
</html>