<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        /* id 쓸때는 # */
        #d1{
            width: 200px;
            height: 200px;
            background-color: darkseagreen;
            cursor: pointer;
        }

        /* 클래스는 . */
        .c1{
            width: 100px;
            height: 100px;
            background-color: lightblue;
        }

    </style>
</head>
<body>
    <h3>Dom_3 Page</h3>
    <h3 id="d1"></h3>
    
    <!-- onclick 이벤트 사용 자제
    href가 클릭시 링크로 이동하는 것이기 때문 -->
    <a href="#img1">image</a>
    
    <img src="/resources/images/4.jpg" alt="" onclick="tes()" id="d2">
    <button type="button" id="btn1" onclick="test()">CLICK</button>
    
    <div class="c1"></div>
    <img src="/resources/images/5.jpg" alt="" srcset="" id="img1">

    <script src="/resources/js/dom_3.js">
        //코드 작성 금지 작동 안함
    </script>
</body>
</html>