<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #d1 {
            width: 300px;
            height: 300px;
            background-color: lightsalmon;
            margin: 100px auto;
        }

        #d1_1 {
            width: 150px;
            height: 150px;
            background-color: lightgoldenrodyellow;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<!-- 숫자를 입력하고 버튼을 클릭하면 입력된 숫자만큼 div내에 button 태그 생성 -->
    <input type="text" id="count">
    <button id="btn" class="c1">👇</button>

    <div id="result">
        <button class="c1">0h</button>
    </div>

    <div id="d1">
        <div id="d1_1">
            <button id="d1_1_1" class="buttons">BUTTON</button>
        </div>
    </div>

    <div>
        <a href="https://www.google.com" id="google">google</a>
    </div>


    <script src="/resources/js/dom_8.js"></script>
</body>
</html>