<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		    		    
<mapper namespace="com.ssy.test.bankAccount.BankAccountDAO">
	<select id="getListByUserName" parameterType="BankMemberDTO" resultType="">
	 	SELECT BANKACOUNT
		FROM BANKACCOUNT BA
		INVNNER JOIN
		BANKBOOK BB
		
		<!-- ON BA.BOOKNUM = BB.BOOKNUM -->
		USING(BOOKNUM)
		WHERE BA.USERNAME=#{userName}	 
	</select>
		 
		<resultMap type="BankAccountDTO" id="getListByUserNameResult"></resultMap>
		<id column="USERNAME" property="userName"/>
		<result column="NAME" property="name"/>
		<result column="EMAIL" property="email"/>
		<result column="PHONE" property="phone"/>
		<collection property="BankAccountDTO" javaType="List" ofType="BankAccountDTO">
			<id column="ACCOUNTNUM" property="accountNum"/>
			<result column="ACCOUNTDATE" property="accountDate"/>
			<association property="bankBookDTO"></association>
		</collection>	 
</mapper>
