<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.ssy.test.board.notice.NoticeDAO">

	<!-- 파일 추가 -->
	<insert id="setAddFile" parameterType="BoardFileDTO">
		INSERT INTO NOTICEFILE
		VALUES(FILE_SEQ.NEXTVAL, #{num}, #{fileName}, #{oriName})
	</insert>


	<!-- 공통된 파트 따로 적어주고 아래에서는 import -->
	<sql id="search">
		WHERE
			<choose>
				<when test="select == 'title'">TITLE</when>
				<when test="select == 'writer'">WRITER</when>
				<otherwise>contents</otherwise>
			</choose>
		LIKE '%'||#{search}||'%'
	</sql>
	
	
	<select id="getCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(num) FROM NOTICE
		<include refid="search"></include>
	</select>


	<select id="getList" resultType="NoticeDTO" parameterType="Pager">
		<!-- SELECT * FROM (SELECT ROWNUM R, N.* FROM (SELECT * FROM NOTICE ORDER BY NUM DESC) N)
		WHERE R BETWEEN #{startRow} and #{lastRow} -->
		
		SELECT * FROM
		 (SELECT ROWNUM R, N.* FROM
			(SELECT * FROM NOTICE
				<include refid="search"></include>
			ORDER BY NUM DESC) N)
		WHERE R BETWEEN #{startRow} and #{lastRow}
	</select>

	
	<select id="getDetail" parameterType="BoardDTO" resultMap="getDetailResult">
		SELECT N.*, NF.* <!-- N의 모든 것, NF의 모든 것 출력 -->
		FROM NOTICE N
			LEFT JOIN
			NOTICEFILE NF <!-- 테이블 단축이름 설정 -->
			ON N.NUM=NF.NUM
		WHERE NUM=#{num}
	</select>
	
	<resultMap type="NoticeDTO" id="getDetailResult">
		<id column="num" property="num"/>
		<result column="title" property="title"/>
		<result column="writer" property="writer"/>
		<result column="contents" property="title"/>
		<result column="regDate" property="title"/>
		<result column="hit" property="title"/>
		<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
			<id column="FILENUM" property="fileNum"/>
			<id column="FILNAME" property="filename"/>
			<id column="ORINAME" property="oriName"/>
		</collection>
	</resultMap>
	
	
	<insert id="setAdd" parameterType="BoardDTO">
		<selectKey order ="BEFORE" keyProperty="num" resultType="long">
			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO NOTICE (NUM, TITLE, WRITER, CONTENTS, REGDATE, HIT)
		VALUES (#{num}, #{title}, #{writer},#{contents}, SYSDATE,0)
	</insert>
	
	
	<update id="setUpdate" parameterType="BoardDTO">
		UPDATE NOTICE SET TITLE=#{title}, CONTENTS=#{contents} WHERE NUM=#{num}
	</update>
	
	
	<delete id="setDelete" parameterType="BoardDTO">
		DELETE NOTICE WHERE NUM=#{num}
	</delete>
	
</mapper>